section {
    background: white;
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 5vh;
    justify-content: center;
    padding: 40px;
    background-color: #ffffff3b;
    border-radius: 45px;
    backdrop-filter: blur(10px);
}

section ul {
    list-style: none;
}

section h1 {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.projects {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 70vh;
    margin-left: 70vh;
}
.projects button {
    padding: 12px 32px;
    background: #00000061;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000061;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
}

.projects button:hover {
    box-shadow: none;

}

.work-starfire {
    list-style: square;
}