*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact {
    margin-top: 6.925vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: auto;
    
}

.contact h2 {
    font-size: 40px;
    text-align: center;
    
}

section {
    padding: 40px;
    background-color: #ffffff3b;
    border-radius: 45px;
    backdrop-filter: blur(10px);
    margin-bottom: 10vh;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;

}

.input-box .input-field {
    width: 48.5%;   
}
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #000;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #000;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
.field.error .error-txt {
    display: block;
}


form .textarea-field .item {
    height: 175px;
    resize: none;

}

form .textarea-field  .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #00000061;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000061;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;

}

@media(max-width: 700px) {
    
    
    .contact form {
        width: 100%;
    }

    section {
        width: 60%;
    }

    .contact h2 {
        width: 100%;
        font-size: medium;
    }
}
