*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(images-site/Gears\ Seamless\ Background.jpg);
    background-size: 50%;
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{ 
    background-color: white;
    box-shadow: 3px, 3px, 5px, rgb(0,0, 0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    box-shadow: -10px, 0, 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}
.menu-button {
    display: none;
}

.headshot {
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 20px;
    border: 7px solid #000000;
}

.introduction {
    background: white;
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
    justify-content: center;
    padding: 40px;
    background-color: #ffffff3b;
    border-radius: 45px;
    backdrop-filter: blur(10px);
}

.hello {
    font-weight: bold;
    font-size: 20px;
}

.objectives {
    background: white;
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
    justify-content: center;
    padding: 40px;
    background-color: #ffffff3b;
    border-radius: 45px;
    backdrop-filter: blur(10px);
    margin-bottom: 10%;
}

footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar {
        width: 100%;
    }
}